body {
  background: #e1eff6;
}

footer {
  color: blue;
}

.top-navigation__link {
  color: #474350;
  font-weight: bold;
  background-color: #57e2e5;
  margin: 1px;
  border: solid #57e2e5 5px;
  border-radius: 8px;
}
.top-navigation--special-link {
  color: #fc7753;
}

.main-header {
  color: #fc7753;
}
.about {
}
.about__description {
}
.about__photo {
  border-radius: 50%;
  border: solid #fc7753 10px;
  max-width: 100px;
  max-height: 100px;
}
.about__title {
  color: #1460aa;
}
.skills {
  color: #60b2e5;
}

.learning__language {
    color: #60b2e5;
}
.learning__title {
    color: #1460aa
}