body {
    background: #E1EFF6;
}
h2 {
    color: #1460AA;
}
h3 {
    color: #cf0f0f;
}
footer {
    color: blue;
    ;
}

.top-navigation__link{
    color: #474350;
    font-weight: bold;
    background-color: #57E2E5;
    margin: 1px;
    border: solid #57E2E5 5px;
    border-radius: 8px;
}
.top-navigation--special-link{
    color: #FC7753;
}
    

.main-header {
    color: #FC7753
}
.about{

}
.about__description{

}
.about__photo {
    border-radius: 50%;
    border: solid #FC7753 10px;
}
.about__title {
    color: #57E2E5
}

.skills {
    color: #60B2E5
}